{
  #set($flag = false)
  #if($source.id != "")
    "Id": $source.id
    #set($flag = true)
  #end
  #if($flag == true), #end
  "CompanyId": $source.companyId,
  "Number": "$source.shortName",
  "Name": "$source.name"
  #set($flag = true)

  #if($source.address.postalCode != "" || $source.address.state != "" || $source.address.city != "" || $source.address.addressLine2 != "" || $source.address.addressLine1 != "")
    #if($flag == true), #end
    "Address": {
        #set($comma = false)
        #if($source.address.postalCode != "")
          "ZipCode": "$source.address.postalCode"
          #set($comma = true)
        #end

        #if($source.address.state != "")
          #if($comma == true), #end
          "State": "$source.address.state"
          #set($comma = true)
        #end

        #if($source.address.city != "")
          #if($comma == true), #end
          "City": "$source.address.city"
          #set($comma = true)
        #end

        #if($source.address.addressLine2 != "")
          #if($comma == true), #end
          "Street2": "$source.address.addressLine2"
          #set($comma = true)
        #end

        #if($source.address.addressLine1 != "")
          #if($comma == true), #end
          "Street1": "$source.address.addressLine1"
        #end
    }
    #set($flag = true)
  #end


  #set($contactCount = $source.contacts.size())

  #set($firstContact = $source.id)
  #if($contactCount > 0)
    #set($firstContact = $source.contacts.get(0))
  #end

  #set($secondContact = $source.id)
  #if($contactCount > 1)
    #set($secondContact = $source.contacts.get(1))
  #end

  #if($flag == true), #end
  "Contact1": {
      #set($nonFaxPhone = $source.id)
      #foreach($phone in $firstContact.phones)
        #if($phone.description == "" || !$phone.description.toLowerCase().contains("fax"))
          #set($nonFaxPhone = $phone)
        #end
      #end

     #set($comma = false)
     #if($nonFaxPhone.number != "")
       "Number":  "$nonFaxPhone.number"
       #set($comma = true)
     #end

     #if($firstContact.name != "")
       #if($comma == true), #end
       "Contact": "$firstContact.name"
       #set($comma = true)
     #end

     #if($firstContact.designation != "")
       #if($comma == true), #end
       "Description": "$firstContact.designation"
     #end
  },
  "Contact2": {
      #set($comma = false)
      #if($secondContact.phones.get(0).number != "")
        "Number": "$secondContact.phones.get(0).number"
        #set($comma = true)
      #end

      #if($secondContact.name != "")
        #if($comma == true), #end
        "Contact": "$secondContact.name"
        #set($comma = true)
      #end

      #if($secondContact.designation != "")
        #if($comma == true), #end
        "Description": "$secondContact.designation"
       #end
  },
  "Fax": {
    #set($fax = $source.id)
    #foreach($phone in $firstContact.phones)
      #if($phone.description.toLowerCase().contains("fax"))
        #set($fax = $phone)
      #end
    #end
      #set($comma = false)
      #if($fax.number != "")
        "Number": "$fax.number"
        #set($comma = true)
      #end

      #if($fax.description != "")
        #if($comma == true), #end
        "Description":  "$fax.description"
      #end
  }
  #set($flag = true)

#if($contactCount > 0)
  #if($firstContact.email != "")
    #if($flag == true), #end
      "EmailAddress": "$firstContact.email"
    #set($flag = true)
  #end
#end


  #if($source.generalLedgerAccount != "")
    #if($flag == true), #end
      "GeneralLedgerTag": "$source.generalLedgerAccount"
    #set($flag = true)
  #end

  #if($source.taxingEntityInPa.id != "")
    #if($flag == true), #end
      "CoLocationsId": $source.taxingEntityInPa.id
    #set($flag = true)
  #end

  #if($source.defaultLocalTaxingEntity.id != "")
    #if($flag == true), #end
      "NewHireCoLocalTaxId": $source.defaultLocalTaxingEntity.id
    #set($flag = true)
  #end

  #if($source.worksiteId != "")
    #if($flag == true), #end
      "WorksiteId": $source.worksiteId
    #set($flag = true)
  #end

  #if($source.defaultHomeStateTax.isDefaultForNewEmployees != "" && $source.defaultHomeStateTax.isDefaultForNewEmployees == true)
    #if($flag == true), #end
    "HomeStateType": "EeDefault"
  #else
    "HomeStateType": "PayrollOverride"
    #set($flag = true)
  #end


  #if($source.taxReturnAccount.number != "")
    #if($flag == true), #end
      "AccountNumber": "$source.taxReturnAccount.number"
    #set($flag = true)
  #end

  #if($source.taxReturnAccount.isPrimary != "")
    #if($flag == true), #end
      "IsPrimary": "$source.taxReturnAccount.isPrimary"
    #set($flag = true)
  #end

  #if($source.isAddressUsedOnCheck == true)
    #if($flag == true), #end
    "DisplayOption": "ShowAndOverrideAddressOnChecks"
    #set($flag = true)
  #elseif($source.isAddressUsedOnCheck == false && $source.isAvailableForEmployeeAssignment == true)
    #if($flag == true), #end
    "DisplayOption": "Show"
    #set($flag = true)
  #elseif($source.isAddressUsedOnCheck == false && $source.isAvailableForEmployeeAssignment == false)
    #if($flag == true), #end
    "DisplayOption": "Hide"
    #set($flag = true)
  #end

  #if($flag == true), #end
  "HomeStatesNumber": $source.defaultHomeStateTax.id
  #set($flag = true)

  #if($source.defaultPayRate != "")
    #if($flag == true), #end
    "OverridePayRate": $source.defaultPayRate
    #set($flag = true)
  #end

  #if($source.defaultEmployeeRateId != "")
    #if($flag == true), #end
    "OverrideEeRateNumber": $source.defaultEmployeeRateId
    #set($flag = true)
  #end

   #set($payrollBankAccount = "")
   #set($billingBankAccount = "")
   #set($directDepositBankAccount = "")
   #set($taxBankAccount = "")

  #if($source.bankAccounts.size() > 0)
    #foreach($bank in $source.bankAccounts)
      #if($bank.designation == "payroll")
        #set($payrollBankAccount = $bank.id)
      #end
      #if($bank.designation == "tax")
        #set($taxBankAccount = $bank.id)
      #end
      #if($bank.designation == "billing")
       #set($billingBankAccount = $bank.id)
      #end
      #if($bank.designation == "directDeposit")
        #set($directDepositBankAccount = $bank.id)
      #end
    #end
  #end

  #if($payrollBankAccount != "")
    #if($flag == true), #end
      "PayrollBankAccountId": $payrollBankAccount
    #set($flag = true)
  #end

  #if($taxBankAccount != "")
    #if($flag == true), #end
      "TaxBankAccountId": $taxBankAccount
    #set($flag = true)
  #end

  #if($billingBankAccount != "")
    #if($flag == true), #end
      "BillingBankAccountId": $billingBankAccount
    #set($flag = true)
  #end

  #if($directDepositBankAccount != "")
    #if($flag == true), #end
      "DirectDepositBankAccountId": $directDepositBankAccount
  #end

}
