{
  "integerProperty": $source.integerProperty,
  "numberProperty": $source.numberProperty,
  "nullPropertyInQuotes": "$source.nullProperty",
  "stringProperty": "$source.stringProperty",
  "arrayProperty": $source.arrayProperty,
  "booleanProperty": $source.booleanProperty,
  "missingProperty": "$source.missingProperty",


  "integerPropertyViaJson": $input.json('$.integerProperty'),
  "numberPropertyViaJson": $input.json('$.numberProperty'),
  "nullPropertyViaJson": $input.json('$.nullProperty'),
  "stringPropertyViaJson": $input.json('$.stringProperty'),
  "arrayPropertyViaJson": $input.json('$.arrayProperty'),
  "arrayPropertyTestViaJson": $input.json('$.arrayProperty[0].test'),
  "booleanPropertyViaJson": $input.json('$.booleanProperty'),
  "missingPropertyViaJson": $input.json('$.missingProperty')
}
